@import url(../style/global.css);

body{
    background-image: url(../assets/back_ajuda.png);
    background-size: 187rem auto;
    background-repeat: no-repeat;
}

nav{
    background-color: var(--transparente);
}


h1{
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-size: 3rem;
    padding: 1rem 3rem 3rem 3rem;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: var(--branco);
    justify-self: center;
    border-radius: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    margin: 0 0 2rem 0
}

main h2,p{
    color: var(--branco);
    text-align: justify;
    font-size: 1.7rem;
    padding: 1rem 2rem 1rem 2rem;
    
}

section{
    background: var(--roxo);
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
}

.button-faq{
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button-faq:hover {
  opacity: 0.8;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.faq{
    width: 70rem;
}

.faq p {
    max-height: 0;
    transition:
    0.4s ease, 
    max-height 0.7s ease, 
    padding 0.5s ease;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(1rem);
    pointer-events: none;
}

.faq p.show {
    max-height: 50rem;
    padding: 0 2rem 2rem 2rem;
    opacity: 1;
    transform: translateY(0);
}
