    @import url(../style/global.css);

    main {
        display: flex;
        position: relative;
    }

    .background{
        max-width: 44%;
        height: 51.55rem;
    }


    .form-container {
        display: flex;
        width: 57%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--branco);
        border-radius: 3rem 0 0 0;
        position: absolute;
        left: 50rem;
        top: -0.1rem;
    }

    form {
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    form h2 {
        color: var(--roxo);
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        margin: 4rem 0 0.2rem 0;
        width: 100%;
        display: block;
    }

    form input {
        width: 80%;
        padding: 1rem 0 1rem 1.5rem;
        border: 2px solid var(--roxo);
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        box-sizing: border-box;
    }

    input::placeholder {
        color: var(--roxo);
    }

    form button {
        width: 40%;
        padding: 1.5rem 3rem;
        background-color: var(--roxo);
        color: var(--branco);
        border: none;
        border-radius: 7rem;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }

    form button:hover {
        background-color: var(--roxo);
    }

    .social-icons {
        display: flex;
        gap: 0.5rem;
        justify-content: space-evenly;
    }

    .social-icons img {
        width: 2rem;
    }