@import url(../style/global.css);

.background{
    position: relative;
    width: 100%;
    top: 6.3rem;
    opacity: 70%;
}

.boas-vindas{
    position: absolute;
    top: 9rem;
    padding: 0 0 0 4rem;
    color: var(--roxo);
    font-size: 2rem;
}

.boas-vindas h1,h2{
    font-weight: normal;
}

section{
    position: relative;
}

.opcoes{
   display: flex;
   position: absolute;
   top: -30rem;
   gap: 5rem;
   left: 4rem;
}

.opcao{
    background: var(--roxo);
    padding: 1rem;
    border-radius: 3rem;
    font-size: 3rem;
    width: 35rem;
    text-align: center;
}

.opcao h4{
    font-weight: normal;
}

.opcao a{
    text-decoration: none;
    color: var(--branco);
}


