@import url(../style/global.css);

html{
  overflow: hidden;
}

main {
  display: flex;
}

.background {
  height: 51.58rem;
  object-fit: cover;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem 0 0 0;
  max-width: 100%;
  height: 51.55rem;
  right: 3rem;
  background: var(--branco);
}

.form-container {
  position: relative;
  left: 22rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

form h2 {
  color: var(--roxo);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 4rem 0 0.2rem 0;
  display: block;
}

form input {
  padding: 1rem 0 1rem 1.5rem;
  border: 2px solid var(--roxo);
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
  width: 30rem;
}

input::placeholder {
  color: var(--roxo);
}

form button {
  padding: 1.5rem 3rem;
  background-color: var(--roxo);
  color: var(--branco);
  border: none;
  border-radius: 7rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

form button:hover {
  background-color: var(--roxo);
}

.container-botoes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.container-botoes button {
  background-color: var(--roxo);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1.1rem 2rem;
  color: var(--branco);
  border-radius: 5rem;
  border: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

.container-botoes button:hover {
  background-color: #5a3a9e;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.social-icons img {
  width: 2.5rem;
  height: auto;
}


@media (max-width: 764px) {

  .background {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
  }

  .form-container {
    position: absolute;
    padding: 2rem;
    top: 7rem;
    left: 6.9rem;
    border-radius: 2rem;
    background-color: var(--branco);
  }

  form input{
    width: 20rem;
  }


  .form-container h2 {
    margin: 0;
    font-size: 2rem;
  }

}