@import url(../style/mapa-inicio.css);

:root{
    --branco: #ffffff;
    --roxo: #2A1450;
}

@font-face{
    font-family: 'Varela';
    src: url(../assets/fontes/Geologica,Varela/Varela/Varela-Regular.ttf);
}

#voltar{
    background: var(--branco);
    margin: 1rem 0 0 0;
    padding: 1rem;
    border-radius: 0.3rem;
}

#voltar img{
    margin: 0;
    align-items: center;
    width: 1.5rem;
}

.rota{
    position: absolute;
    border-radius: 1rem;
    top: -55rem;
    background-color: var(--branco);
    width: 35rem;
    left: 7.5rem;
    height: 50rem;
}

.endereço{
    display: flex;
    flex-direction: column;
    background-color: var(--roxo);
    width: 30rem;
    height: 14rem;
    margin: 3.5rem 2rem 5rem 2.5rem;
    border-radius: 1rem;
}

.endereço p{
    color: var(--branco);
}